extends layouts/repairLayout

block container
    include page-components/nav
    section#id-home.header-bg.parralax-holder.img-mask
        .header-img.background.big-image(parallax-background-directive, parallax-ratio="0.4") &nbsp
        .container
            .header-text
                h1.shlapak-font Мега Заголовок!
    section.content-wrapper
        include page-components/services
        .container-info.parralax-holder.img-mask
            .big-image.middle-img.background(parallax-background-directive, parallax-ratio="0.3", parallax-sign="1") &nbsp
        include page-components/our-works
        .container-info.parralax-holder.img-mask
            .big-image.middle-img.background(parallax-background-directive, parallax-ratio="0.3", parallax-sign="1") &nbsp
        include page-components/contacts