extends layouts/repairLayout

block container
	include pages/repair/nav
	section.header-bg.parralax-holder.img-mask
		//include pages/repair/carousel
		.header-img.background(parallax-background, parallax-ratio="0.4") &nbsp
		.container
			.header-text
				h1.new-font Мега Заголовок!
	section.content-wrapper
		.container-info.border-bottom.border-top.thumbnail-container
			.container
				h1.qwe(appear, appear-class="qwe1", disappear-class="qwe4") qwe
				.row
					include pages/repair/thumbnail
					include pages/repair/thumbnail
					include pages/repair/thumbnail
		.container-info.parralax-holder.img-mask
			.big-image.middle-img.background(parallax-background, parallax-ratio="0.3") &nbsp
		.container-info.border-bottom.border-top.thumbnail-container
			.container
				h1.qwe(appear, appear-class="qwe1", disappear-class="qwe4") qwe
				.row
					include pages/repair/thumbnail
					include pages/repair/thumbnail
					include pages/repair/thumbnail