mixin serviceItem(faClass, title, text, appearClass)
    .service-item(appear-directive, appear-class="#{appearClass}")
        i(class="fa #{faClass}")
        h2.shlapak-font #{title}
        p.text-muted #{text}