footer.footer
    block footer
        div#footer
            .container
                span.text-muted Created by Yaroslav Zabara. Maybe I will write some info
                a(href="mailto:yazabara@gmail.com?subject=tver.repair") The text of your link.