meta(http-equiv="Content-Language")
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="format-detection", content="telephone=no")
meta(name="keywords", content="Тестовый проект")
meta(name="description", content="Тестовый проект")
meta(name="viewport", content="width=device-width")
title Test jade poject

link(media="all", rel="stylesheet", type="text/css", href='lib/bootstrap-3.1.1-dist/css/bootstrap.min.css')
link(media="all", rel="stylesheet", type="text/css", href='lib/bootstrap-3.1.1-dist/css/docs.min.css')
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel="stylesheet")

link(media="all", rel="stylesheet", type="text/css", href='css/common.css')

script(type="text/javascript", src="lib/jquery/jquery-1.11.1.js")
script(type="text/javascript", src="lib/jquery/jquery.appear.js")
script(type="text/javascript", src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js")
script(type="text/javascript", src="lib/angular/angular.min.js")
script(type="text/javascript", src="lib/angular/angular.min.js.map")
script(type="text/javascript", src="lib/angular/angular-resource.min.js")
script(type="text/javascript", src="lib/angular/angular-resource.min.js.map")
script(type="text/javascript", src="lib/angular/ui-bootstrap-tpls-0.11.0.min.js")

script(type="text/javascript", src="js/scripts.js")