@import "../../common/variables";
@import "../../common/mixins/_mixins";

.navbar {
  font-size: 2.4em;
  background: 0, 0;
  padding: 0;
  a {
    color: $white;
    &:hover {
      background: 0, 0 !important;
      border-bottom: 0.1em solid $white;
      cursor: pointer;
    }
  }
  .navbar-brand {
    font-size: 1em;
  }
  @include transitions(background .5s ease-in-out, padding .5s ease-in-out);
}

.navbar.navbar-collapsed {
  padding: 0.5em;
  background-color: $customOrange;
}
