@import "../../common/variables";
@import "../../common/mixins";

.navbar {
	@include transforms(background .5s ease-in-out, padding .5s ease-in-out, border-bottom 1s ease-in-out);
	background: 0, 0;
	padding: 0;
	border-bottom: 0, 0;
	li{
		a {
			&:hover {
				background: 0, 0;
			}
		}
	}
	.navbar-brand {
		font-size: 2em;
		.fa {
			margin-right: 0.1em;
		}
	}
}

.navbar.navbar-collapsed {
	padding: 0.5em;
	background-color: $black;
	border-bottom: 0.2em solid $customRed;
}
