@import "../../common/variables";
@import "../../common/mixins";

.navbar {
  font-size: 2em;
  background: 0, 0;
  padding: 0;
  li {
    a {
      color: $white;
      &:hover {
        background: 0, 0;
        color: $customRed;
        border-bottom: 0.1em solid $customRed;
      }
    }
  }
  .navbar-brand {
    font-size: 1em;
    color: $white;
    cursor: pointer;
  }
  @include transforms(background .5s ease-in-out, padding .5s ease-in-out);
}

.navbar.navbar-collapsed {
  padding: 0.5em;
  background-color: $customOrange;
}
