@import "../common/variables";

$backgroundOpacity: 0.9;

.img-mask {
  background: url("../images/patterns/pattern.png") repeat;
}

.big-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
}

.content-wrapper {
  width: 100%;
  position: relative;
}

.border-bottom {
  border-bottom: 0.2em solid $customRed;
}

.border-top {
  border-top: 0.2em solid $customRed;
}

.container-info {
  position: relative;
  width: 100%;
}

.parralax-holder {
  width: 100%;
  overflow: hidden;
  min-height: 400px;
  .background {
    opacity: $backgroundOpacity;
  }
}

.middle-img {
  background-image: url("../images/repair/trucks/truck4.jpg");
}

.part-header {
  font-size: 5em;
  text-align: center;
}
