.form-group(ng-controller="GoogleLocationController")
	pre Model: {{asyncSelected}}
	input(type="text",ng-model="asyncSelected",placeholder="type your location",typeahead="address as address.formatted_address for address in getLocation($viewValue)",class="form-control")