#id-contacts.container-info.border-bottom.border-top.thumbnail-container
    .container
        h1.part-header(appear-directive, appear-class="qwe1", disappear-class="qwe4") qwe
        .row
            include thumbnail
            include thumbnail
            include thumbnail