.panel.container.permissible.shlapak-font
    .panel-heading Список профильных Авто
    u.list-group
        li.list-group-item Лодки
        li.list-group-item Гидромотоциклы
        li.list-group-item Тягачи
        li.list-group-item Кпоты снегоходов
        li.list-group-item Троллейбусы