nav.navbar.navbar-fixed-top.navbar-collapsed(role='navigation', nav-class-directive,nav-class='navbar-collapsed')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand.new-font
                i.fa.fa-truck
                span(scroll-to-item, scroll-to='#id-home', scroll-coff='-65') Repair.Tver
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li
                    a(href='#about',scroll-to-item, scroll-to='#id-services', scroll-coff='-65') Услуги
                li
                    a(href='#about',scroll-to-item, scroll-to='#id-our-works', scroll-coff='-65') Наши работы
                li
                    a(href='#about',scroll-to-item, scroll-to='#id-contacts', scroll-coff='-65') Контакты