#id-our-works.container-info.thumbnail-container
    .container
        h1.part-header.shlapak-font Наши работы
        .row
            include our-works/work1
            include our-works/work2
            include our-works/work3
        .row
            include our-works/work4
            include our-works/work5
            include our-works/work6