#id-our-works.container-info.thumbnail-container
    .container
        h1.part-header.shlapak-font Наши работы
        .row
            +test("delay01")
            +test("delay03")
            +test("delay05")
