#id-our-works.container-info.thumbnail-container
    .container
        h1.part-header.shlapak-font Наши работы
        .row
            include our-works/work1
            +test1('duration13','images/repair/works/200120141176.jpg')
            +test1('duration16','images/repair/works/200120141176.jpg')