#id-services.container-info.thumbnail-container
    .container
        h1.part-header.shlapak-font Наши услуги
        .row
            +test('delay01')
            +test('delay03')
            +test('delay05')