#id-services.container-info.thumbnail-container
    .container
        h1.part-header.shlapak-font Наши услуги
        .row
            .col-md-5.col-md-push-1.col-sm-6
                include services/repair
                include services/service1
                include services/service2
            .col-md-5.col-md-push-1.col-sm-6
                include services/service3
                include services/service4