nav.navbar.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
				i.fa.fa-bars
			a.navbar-brand
				span Repair.Tver
		.collapse.navbar-collapse.navbar-right.navbar-main-collapse
			ul.nav.navbar-nav
				li
					a(href='#about') Услуги
				li
					a(href='#projects') Профильные авто
				li
					a(href='#contact') Контакт
