.col-lg-4.col-sm-6
    .thumbnail.work-item(appear-directive, appear-class="animate bounce-left delay07")
        a(href="#")
            img.work-item-img(src="images/repair/works/200120141176.jpg",class="img-responsive")
        .work-item-caption
            h3 Ремонт фары volvo
            p Описание проблемы, что-нить еще , какая мол была трудная задача - и как было идеально сделано.