@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin mediaMobile {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

@mixin mediaTableDeviceWidth {
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		@content;
	}
}

@mixin mediaTablet {
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		@content;
	}
}

@mixin mediaDesktop {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

@mixin mediaTabletDesktop {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin mediaMobileTablet {
	@media only screen and (max-width: 1023px) {
		@content;
	}
}

@function parseInt($n) {
	/* 2 */
	@return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
	$px: (); /* 3 */
	$rem: (); /* 3 */

	@each $value in $values {
		/* 4 */

		@if $value == 0 or $value == auto {
			/* 5 */
			$px: append($px, $value);
			$rem: append($rem, $value);
		} @else {
			$unit: unit($value); /* 6 */
			$val: parseInt($value); /* 6 */

			@if $unit == "px" {
				/* 7 */
				$px: append($px, $value);
				$rem: append($rem, ($val / 10 + rem));
			}

			@if $unit == "rem" {
				/* 7 */
				$px: append($px, ($val * 10 + px));
				$rem: append($rem, $value);
			}
		}
	}

	@if $px == $rem {
		/* 8 */
		#{$property}: $px; /* 9 */
	} @else {
		#{$property}: $px; /* 9 */
		#{$property}: $rem; /* 9 */
	}
}

@mixin backgroundGradient($args...) {
	background: -webkit-gradient($args);
	background: -webkit-linear-gradient($args);
	background: -moz-linear-gradient($args);
	background: -ms-linear-gradient($args);
	background: -o-linear-gradient($args);
	background: linear-gradient($args);
}

//добавляет градиент из 2х цветов
@mixin backgroundGradient2($from: $customBlue, $to: $customSuccess, $percent: 100%, $image: null) {
	@if ($image) {
		background: url($image), -webkit-gradient(linear, left center, right center, from($from), color-stop($percent, $to));
		background: url($image), -webkit-linear-gradient(left, $from, $to $percent);
		background: url($image), -moz-linear-gradient(left, $from, $to $percent);
		background: url($image), -ms-linear-gradient(left, $from, $to $percent);
		background: url($image), -o-linear-gradient(left, $from, $to $percent);
		background: url($image), linear-gradient(to right, $from, $to $percent);
	} @else {
		background: -webkit-gradient(linear, left center, right center, from($from), color-stop($percent, $to));
		background: -webkit-linear-gradient(left, $from, $to $percent);
		background: -moz-linear-gradient(left, $from, $to $percent);
		background: -ms-linear-gradient(left, $from, $to $percent);
		background: -o-linear-gradient(left, $from, $to $percent);
		background: linear-gradient(to right, $from, $to $percent);
	}
}

//добавляет градиент из 3х цветов
@mixin backgroundGradient3($first: $customBlueGreen, $second: $customDarkPurple, $third: $customOrange, $percent: 100%, $image: null) {
	@if ($image) {
		background: url($image), -webkit-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: url($image), -moz-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: url($image), -ms-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: url($image), -o-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: url($image), gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
	} @else {
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: -moz-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: -ms-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: -o-gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
		background: gradient(linear, left bottom, right top, color-stop(0, $first), color-stop(0.5, $second), color-stop(1, $third));
	}
}